<div class="btn-group mt-10 mb-10" style="width:100%;">
  <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
    Choose a Department <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% @departments.each do |department| %>
      <li><%= link_to department.name, admin_department_path(department), :remote=>true %></li>
    <% end %>
    <%= content_tag :li, link_to_next_page(@departments, 'Next Page', :remote => true) %>
    <%= content_tag :li, link_to_previous_page(@departments, 'Previous Page', :remote => true) %>
  </ul>
</div>