
<%# Used to create a new OperatingSystem %>
<div class="box p-10">
  <div class="p-10 text-color-blue fs-18 mb-20">
    Create a New Version for <%= @os.name %>
  </div>
	<%= render 'admin/os_versions/form' %>
</div>

