<div class="btn-group mt-10 mb-10" style="width:100%;">
  <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
    Choose a Designation <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% @designations.each do |designation| %>
      <li><%= link_to designation.title, admin_designation_path(designation), :remote=>true %></li>
    <% end %>
    <%= content_tag :li, link_to_next_page(@designations, 'Next Page', :remote => true) %>
    <%= content_tag :li, link_to_previous_page(@designations, 'Previous Page', :remote => true) %>
  </ul>
</div>