<div class="row">
  <div class="col-xs-4">
    <%= link_to raw("<i class='fa fa-plus mr-10'></i> New Designation"), new_admin_designation_path, :class=>"btn btn-primary", :remote=>true %>
  </div><!-- /.col-xs-6 -->

  <div class="col-xs-8">

    <%= form_for Designation.new, :url => admin_designations_path, :method => :get, :remote=>true, :html=>{:class=>"pull-right", :style=>"margin-bottom:0px;"} do |f| %>

    <div class="input-group">
      <input type="text" name="query" placeholder="Search Designations ..." class="form-control">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default"><i class='fa fa-search mr-10'></i> Search!</button>
      </span>
    </div><!-- /input-group -->

    <%- end %>

  </div><!-- /.col-xs-6 -->
</div><!-- /.row -->


