
/* 
*	 Author: Vijay Kumar
*	 Template: Archon - Flat & Responsive Bootstrap Admin Template
*	 Version: 1.0
*	 Bootstrap version: 3.0.0
*	 Copyright 2013 bootstrapguru
*	 www: http://bootstrapguru.com
*	 mail: support@bootstrapguru.com
*	 You can find our other themes on: https://bootstrapguru.com/themes/
---------------------------------------------------------------------------------------------- */
/* Write your custom css here, so you that you dont break the updates
---------------------------------------------------------------------------------------------- */

/* Profile Panel for users pages START */

.panel-profile {
  margin-bottom: 0px;
  margin-top: 0px;
}

.panel-profile > .panel-body {
  padding: 0px;
  height: auto;
}

.panel-profile > .panel-body {
  padding: 0px;
  height: auto;
}

.panel-profile > .panel-body > .basic-profile {
  background-color: #ecf3f4;
}

.panel-profile > .panel-body > .basic-profile img {
  float: left;
  margin-right: 20px;
}

.panel-profile > .panel-footer {
  background-color: #34495D;
  padding: 0px 14px !important;
}
.panel-profile > .panel-footer > .row > a:hover {
  background-color: #428bca;
  text-decoration: none;
}
.panel-profile > .panel-footer > .row > a {
  color: #FFFFFF;
  text-align: center;
  border-right: 1px solid #0eb1c9;
  line-height: 40px;
  background-color: #428bca;
  font-size: 12px;
}

/* Profile Panel for users pages END  */
/* Project Link Widget START  */

.project-link-widget {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 14px;
  position: relative;
  text-align: center;
  min-height: 300px;
}

.project-link-widget img {
  height: 120px;
  margin: 21px 0px 20px;
  vertical-align: bottom;
  margin-top: 10px;
  width: auto;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter ….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.project-link-widget h3 {
  font-size: 20px;
  margin: 0px;
}

.project-link-widget.under-construction:before {
  background: url(/assets/ribbon.png) 0 0 no-repeat;
  background-size: 82px 82px;
  content: '';
  height: 82px;
  position: absolute;
  right: -4px;
  top: -4px;
  width: 82px;
}

/* Project Link Widget END  */


