<div class="btn-group mt-10 mb-10" style="width:100%;">
  <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
    Choose a AwsInstanceType <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% @aws_instance_types.each do |aws_instance_type| %>
      <li><%= link_to aws_instance_type.name, admin_aws_instance_type_path(aws_instance_type), :remote=>true %></li>
    <% end %>
    <%= content_tag :li, link_to_next_page(@aws_instance_types, 'Next Page', :remote => true) %>
    <%= content_tag :li, link_to_previous_page(@aws_instance_types, 'Previous Page', :remote => true) %>
  </ul>
</div>