/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require handycss.css
 *= require handycss.box.css

 *= require ux-libraries/bootstrap/bootstrap
 *= require ux-libraries/bootstrap/bootstrap-responsive
 *= require ux-libraries/font-awesome
 *= require_self

 */

.login-box {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	margin-top: -185px;
	margin-left: -205px;
	width: 420px;
	height: auto;
	background: white;
}

.login-box h2 {text-align: center;}
.login-box img {text-align: center; width:200px; margin-left: 90px;}
.login-box .btn {margin-right:20px; float:right;}

html {
	background: #3d4a5d;
}