<div class="row">
	<div class="col-md-6">
		<div class="panel panel-archon">
			<div class="panel-heading">
				<h3 class="panel-title">
					Update Profile Details
					<!-- <span class="pull-right"> -->
						<!-- <a href="#" class="panel-minimize"><i class="fa fa-chevron-up"></i></a> -->
						<!-- <a href="#" class="panel-settings"><i class="fa fa-cog"></i></a> -->
						<!-- <a href="#" class="panel-close"><i class="fa fa-times"></i></a> -->
					<!-- </span> -->
				</h3>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inp_name" class="col-lg-3 control-label">Name</label>
						<div class="col-lg-9">
							<input type="name" class="form-control" id="inp_name" placeholder="Name">
						</div>
					</div>
					<div class="form-group">
						<label for="inp_email" class="col-lg-3 control-label">Email</label>
						<div class="col-lg-9">
							<input type="email" class="form-control" id="inp_email" disabled="">
						</div>
					</div>
					<div class="form-group">
						<label for="inp_username" class="col-lg-3 control-label">	Username</label>
						<div class="col-lg-9">
							<input type="text" class="form-control" id="inp_username" disabled="">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-3 control-label"> Append</label>
						<div class="col-lg-9">
							<div class="input-group">
								<input type="text" class="form-control">
								<span class="input-group-addon">.00</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-3 control-label">Icon group</label>
						<div class="col-lg-9">
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input type="text" class="form-control">
								<span class="input-group-addon">.00</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-3 control-label">Checkbox input</label>
						<div class="col-lg-9">
							<div class="input-group">
								<span class="input-group-addon">
									<input type="checkbox">
								</span>
								<input type="text" class="form-control">
							</div><!-- /input-group -->
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Radio Input</label>
						<div class="col-lg-9">
							<div class="input-group">
								<span class="input-group-addon">
									<input type="radio">
								</span>
								<input type="text" class="form-control">
							</div><!-- /input-group -->
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Addons</label>
						<div class="col-lg-9">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-info " type="button">Go!</button>
								</span>
								<input type="text" class="form-control">
							</div><!-- /input-group -->
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Checkboxes</label>
						<div class="col-lg-9">
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									Option One
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									Option Two
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									Option Three
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Inline Checkboxes</label>
						<div class="col-lg-9">
							<label class="checkbox-inline">
								<input type="checkbox" id="inlineCheckbox1" value="option1"> 1
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" id="inlineCheckbox2" value="option2"> 2
							</label>
							<label class="checkbox-inline">
								<input type="checkbox" id="inlineCheckbox3" value="option3"> 3
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Radio</label>
						<div class="col-lg-9">
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
									Option One
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
									Option Two
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
									Option Three
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-3 control-label">Selects</label>
						<div class="col-lg-9">
							<select class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-3 control-label">Select multiple</label>
						<div class="col-lg-9">
							<select multiple="" class="form-control">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-archon">
			<div class="panel-heading">
				<h3 class="panel-title">
					Form Vertical
					<span class="pull-right">
						<a href="#" class="panel-minimize"><i class="fa fa-chevron-up"></i></a>
						<a href="#" class="panel-settings"><i class="fa fa-cog"></i></a>
						<a href="#" class="panel-close"><i class="fa fa-times"></i></a>
					</span>
				</h3>
			</div>
			<div class="panel-body">
				<form class="form-vertical" role="form">
					<div class="form-group">
						<label>Input</label>
						<input type="email" class="form-control" id="inputEmail4" placeholder="Type something here">
					</div>
					<div class="form-group">
						<label>Color Picker</label>
						<input type="email" class="form-control" id="colorpicker" placeholder="Color picker">
					</div>
					<div class="form-group">
						<label>Prepend</label>
						<div class="input-group">
							<span class="input-group-addon">@</span>
							<input type="text" class="form-control" placeholder="Username">
						</div>
					</div>
					<div class="form-group">
						<label>Checkbox Input</label>
						<div class="input-group">
							<span class="input-group-addon">
								<input type="checkbox">
							</span>
							<input type="text" class="form-control">
						</div><!-- /input-group -->
					</div>
					<div class="form-group">
						<label>Addons</label>
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-info " type="button">Go!</button>
							</span>
							<input type="text" class="form-control">
						</div><!-- /input-group -->
					</div>
					<div class="form-group">
						<label>Checkboxes</label>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
								Option One
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
								Option Two
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" value="">
								Option Three
							</label>
						</div>
					</div>
					<div class="form-group">
						<label>Tags input</label>
						<input id="tags_2" type="text" class="tags" value="php,ios,javascript,ruby,android,kindle" style="display: none;"><div id="tags_2_tagsinput" class="tagsinput tags" style="width: auto; height: 100%;"><span class="tag" style="background-color: rgb(91, 192, 222);"><span>php&nbsp;&nbsp;</span><a class="tagsinput-remove-link"></a></span><span class="tag"><span>ios&nbsp;&nbsp;</span><a class="tagsinput-remove-link"></a></span><span class="tag" style="background-color: rgb(91, 192, 222);"><span>javascript&nbsp;&nbsp;</span><a class="tagsinput-remove-link"></a></span><span class="tag" style="background-color: rgb(91, 192, 222);"><span>ruby&nbsp;&nbsp;</span><a class="tagsinput-remove-link"></a></span><span class="tag"><span>android&nbsp;&nbsp;</span><a class="tagsinput-remove-link"></a></span><span class="tag"><span>kindle&nbsp;&nbsp;</span><a class="tagsinput-remove-link"></a></span><span class="tag"><span>summary&nbsp;&nbsp;</span><a class="tagsinput-remove-link"></a></span><div class="tagsinput-add-container" id="tags_2_addTag"><div class="tagsinput-add"></div><input id="tags_2_tag" value="" data-default="" style="color: rgb(102, 102, 102); width: 68px;"></div></div>
					</div>
					<div class="form-group">
						<label>File input</label>
						<input type="file" id="exampleInputFile">
						<p class="help-block">Example block-level help text here.</p>
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> Check me out
						</label>
					</div>
					<button type="submit" class="btn btn-primary">Save Chnages</button>
					<button type="submit" class="btn btn-default">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</div>

<% content_for :javascript_footer do %>

	<script type="text/javascript" src="http://platform.linkedin.com/in.js">
 		api_key: j1vt9fay5imw
	</script>

	<script type="text/javascript">

		function getID() {
		   IN.API.Profile("me").result(function(result) {
		      $("#profile").html('<script type="IN/FullMemberProfile" data-id="' + result.values[0].id + '"></script>');
		      IN.parse(document.getElementById("profile"))
		   })
		}

	</script>

<% end %>

<script type="IN/Login">
	Hello, <?js= firstName ?> <?js= lastName ?>.
</script>

<div id="profile"></div>

<script type="IN/Login" data-onAuth="getID"></script>

