<div class="btn-group mt-10 mb-10" style="width:100%;">
  <button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
    Choose a User <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% @users.each do |user| %>
      <li><%= link_to user.display_name, admin_user_path(user), :remote => true %></li>
    <% end %>
    <%= content_tag :li, link_to_next_page(@users, 'Next Page', :remote => true) %>
    <%= content_tag :li, link_to_previous_page(@users, 'Previous Page', :remote => true) %>
  </ul>
</div>