<%# describes about each user %>
<div class="web-stats info clearfix" style="margin-bottom:5px;padding:5px;height:65px;overflow:hidden;">

   	<div class="visible-md visible-lg pull-left mr-10" style="width:20%;max-height:50px;overflow:hidden;">
      <%= display_image(user, :profile_picture, "50px") %>
   	</div>
   	<div class="pull-left" style="width:75%;">
   		<%= link_to user.display_name, admin_user_path(user), :remote=>true, :class=>"text-color-blue fs-14" %>
		  <div class="text-color-gray fs-12"><%= user.designation %> at <%= user.organisation %></div>
    </div>

</div>


