<% if @user %>
  <% if @user.new_record? %>

  	// Fill the right box with first user details
  	$('#div_user_details').html("<%= escape_javascript(render(:partial=>'summary')) %>");

  <% else %>

  	// Render the show partial to show flash message
  	$('#div_user_details').html("<%= escape_javascript(render(:partial=>'show')) %>");

  <% end %>

  // Render users List
  $('#div_user_collections').html("<%= escape_javascript(render(:partial=>'index')) %>");

<% else %>

  var noResultsText = "<div id=\"div_admin_empty\" class=\"box text-color-grey p-80 text-align-center\" style=\"height:200px;\"><%= translate("forms.no_results_found") %></div>";
  $('#div_user_index').html(noResultsText);
  $('#div_user_details').html(noResultsText);

<% end %>
